.popup__container {
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 430px;
    padding: 34px 36px 37px;
    position: relative;
    width: calc(100% - 38px);
}

@media screen and (max-width: 425px) {
    .popup__container{
        padding-right: 22px;
        padding-bottom: 25px;
        padding-top: 25px;
        padding-left: 22px;
        width: 282px;
    }    
}
