.elements {
    margin-top: 46.25px;
    /*display: grid;
    grid-gap: 20px 17px;
    grid-template-columns: repeat(auto-fill,minmax(282px,1fr));
    justify-content: center;
    list-style: none;
    padding: 0;*/
}

@media screen and (max-width: 425px){
    .elements {
        margin-top: 36px;
    }
}

/*@media screen and (max-width: 1279px) {
    .elements {
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    }
    }
    
    @media screen and (max-width: 768px) {
        .elements {
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    }
    
    @media screen and (max-width: 425px) {
        .elements {
            grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
    }
    }*/