.card__delete-button {
    background-image: url(../../../images/Group.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 18px;
    height: 19px;
    border: none;
    cursor: pointer;
}

.card__delete-button:hover {
    opacity: .6;
}