.card__items {
    align-items: center;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    background-color: white;
    color: black;
    width: 100%;    
}