.footer {
    margin-top: 67px;
    color: #545454;
    margin-bottom: 60px;
}

@media screen and (max-width: 425px) {
    .footer {
        margin-left: 19px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}